@{
    ViewData["Title"] = "Fibonacci";
    int max = (int)ViewData["max"];
    int num1 = 0;
    int num2 = 1;
}

<nav id="page-options">
    <ul>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="20">20</a></li>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="50">50</a></li>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="100">100</a></li>
    </ul>
</nav>

<h1>@max</h1>
<ul id="fibonacci">
    @while (num2 < max - num1)
    {

        int temp = num1;
        num1 = num2;
        num2 = temp + num1;
  
         <li>@num2</li>


    }

</ul>