@model Product

@{
    ViewData["Title"] = "Detail";
}
<h2>Product Page</h2>

<!-- Container for the Product -->
<div id="product-detail">
    <img src="/images/product-images/grey-sofa.jpg" />
    <div class="product-description">
        <h3>
            esg
        </h3>

        <!-- .filled will make the star solid -->
        <div class="rating">
            @*@if (Model.AverageRating < 2)
            {*@
                <span class="filled">&#9734;</span>
            @*  *@

            <span class="filled">&#9734;</span>
            <span>&#9734;</span>
            <span>&#9734;</span>
            <span>&#9734;</span>
        </div>
        @*@if (Model.RemainingStock <= 5)
        {*@
            <!-- Include this if the product has a Remaining Stock of 5 or less -->
            <p class="alert-remaining">BUY NOW! Only 4 left!</p>
        @*}*@
        <p class="description">@*@Model.Description*@</p>
        <p class="price">@*@Model.Price*@</p>
        @*@if (Model.RemainingStock > 5)
        {*@

            <!-- If item is in stock -->
            <button class="action">Add to Cart</button>
        @*}
        @if (Model.RemainingStock == 0)
        {*@
            <!-- OR if item is out of stock -->
            <button disabled>Sold Out</button>;
        @*}*@

    </div>
</div>